<!doctype html>

<html lang="en">

    <meta charset="utf-8">
    <meta name="author" content="{%= author_name %}{%= author_url ? ' - ' + author_url : '' %}">

    <link rel="shortcut icon" href="/media/images/favicon.ico">
    <link rel="stylesheet" href="/media/css/lib.css">
    <link rel="stylesheet" href="/media/css/main.css">

    <title>{%= title || name %} &bull; {%= author_name %}</title>

    <body>
        <h1>{%= title || name %}</h1>
        <p>{%= description %}</p>
        {{ content }}
        <script src="//localhost:35729/livereload.js"></script>
        <script type="text/javascript" src="/media/js/main.js">
        </script>
    </body>

</html>
